<a href="https://colab.research.google.com/github/1ntromann/Project/blob/main/Model_build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN

In [11]:
df=pd.read_csv('churn_dffinal.csv')

In [12]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

Segregating data and outcome as x and y respectively

In [13]:
x=df.drop('Churn',axis=1)
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0

In [14]:
# we can see that column has reduced from 45 to 44
y=df['Churn']
y.shape

(7032,)

Training and testing

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(5625, 44) (1407, 44) (5625,) (1407,)

Using decision tree classifier

In [17]:
dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [18]:
predic=dt.predict(x_test)

In [19]:
predic

array([0, 1, 0, ..., 1, 1, 0])

In [20]:
predic.shape

(1407,)

In [21]:
dt.score(x_test,y_test)*100

78.39374555792466

In [22]:
print(classification_report(y_test,predic,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85      1006
           1       0.65      0.52      0.58       401

    accuracy                           0.78      1407
   macro avg       0.74      0.71      0.72      1407
weighted avg       0.77      0.78      0.78      1407

The above precision recall are not good enough. Since I trained the model on imbalanced dataset. Training the model after balancing....

In [30]:
smt=SMOTEENN()
x_bal,y_bal=smt.fit_resample(x,y)

In [31]:
xb_train,xb_test,yb_train,yb_test=train_test_split(x_bal,y_bal,test_size=0.2)

In [44]:
print(xb_train.shape,xb_test.shape,yb_train.shape,yb_test.shape)

(4613, 44) (1154, 44) (4613,) (1154,)

In [33]:
smot_dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
smot_dt.fit(xb_train,yb_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [36]:
smot_predic=smot_dt.predict(xb_test)
model_sc=smot_dt.score(xb_test,yb_test)
print(model_sc)
print(classification_report(yb_test,smot_predic))

0.9324090121317158
              precision    recall  f1-score   support

           0       0.91      0.94      0.92       510
           1       0.95      0.93      0.94       644

    accuracy                           0.93      1154
   macro avg       0.93      0.93      0.93      1154
weighted avg       0.93      0.93      0.93      1154

In [37]:
print(metrics.confusion_matrix(yb_test,smot_predic))

[[478  32]
 [ 46 598]]

So after balancing data, model performs better

Random Forest Classifier

In [39]:
rf_mod=RandomForestClassifier(n_estimators=100,criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
rf_mod.fit(x_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [40]:
res=rf_mod.predict(x_test)

In [41]:
print(rf_mod.score(x_test,y_test))

0.7867803837953091

In [42]:
print(classification_report(y_test,res,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.81      0.91      0.86      1006
           1       0.68      0.47      0.56       401

    accuracy                           0.79      1407
   macro avg       0.75      0.69      0.71      1407
weighted avg       0.78      0.79      0.77      1407

Checking whether model improves after balancing the dataset

In [46]:
smt=SMOTEENN()
x1_bal,y1_bal=smt.fit_resample(x,y)

In [47]:
xb1_train,xb1_test,yb1_train,yb1_test=train_test_split(x1_bal,y1_bal,test_size=0.2)
print(xb_train.shape,xb_test.shape,yb_train.shape,yb_test.shape)

(4707, 44) (1177, 44) (4707,) (1177,)

In [49]:
rf_mod.fit(xb1_train,yb1_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [50]:
res1=rf_mod.predict(xb1_test)

In [51]:
print(rf_mod.score(xb1_test,yb1_test))

0.9253218884120171

In [52]:
print(metrics.classification_report(yb1_test,res1))

              precision    recall  f1-score   support

           0       0.94      0.89      0.91       513
           1       0.91      0.96      0.93       652

    accuracy                           0.93      1165
   macro avg       0.93      0.92      0.92      1165
weighted avg       0.93      0.93      0.93      1165

Model improves after balancing dataset