<a href="https://colab.research.google.com/github/1ntromann/Project/blob/main/Model_build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [11]:
df=pd.read_csv('churn_dffinal.csv')

In [12]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

Segregating data and outcome as x and y respectively

In [13]:
x=df.drop('Churn',axis=1)
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,1
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0

In [14]:
# we can see that column has reduced from 45 to 44
y=df['Churn']
y.shape

(7032,)

Training and testing

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(5625, 44) (1407, 44) (5625,) (1407,)

Using decision tree classifier

In [17]:
dt=DecisionTreeClassifier(criterion='gini',random_state=100,max_depth=6,min_samples_leaf=8)
dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [18]:
predic=dt.predict(x_test)

In [19]:
predic

array([0, 1, 0, ..., 1, 1, 0])

In [20]:
predic.shape

(1407,)

In [21]:
dt.score(x_test,y_test)*100

78.39374555792466

In [22]:
print(classification_report(y_test,predic,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85      1006
           1       0.65      0.52      0.58       401

    accuracy                           0.78      1407
   macro avg       0.74      0.71      0.72      1407
weighted avg       0.77      0.78      0.78      1407